{{#if prod}}

<div class="producto-container">
    {{#each prod}}
    <div class="producto-card" >
        <p>{{this.title}}</p>
        <img  src={{this.thumbnail}}>
    </div>
    {{/each}}
</div>

{{/if}}